<!-- Header -->
<header class="header header--small-lines" id="site-header">
    <div class="top-bar top-bar-dark">
      <div class="container">
        <div class="top-bar-contact">
          <div class="contact-item">
            <a href="tel:{{ 'topheader.tlfshort' | translate }}"><i class="fa fa-whatsapp icon-fill-header"></i> {{ 'topheader.tlf' | translate }}</a>
          </div>
          <div class="contact-item">
            <svg class="hurra-icon hurra-icon-letter"><use xlink:href="#hurra-icon-letter"></use></svg>
            <a href="mailto:{{ 'topheader.email' | translate }}">{{ 'topheader.email' | translate }}</a>
          </div>
        </div>

        <div class="contact-item language-switcher pull-right">

          <div class="nice-select" tabindex="0">
            <span>{{ 'topheader.selectedlang' | translate }}</span>
            <ul class="list">
              <li (click)="translate.use('es')" class="option">{{ 'topheader.esEs' | translate }}</li>
              <li (click)="translate.use('en')" class="option">{{ 'topheader.enEn' | translate }}</li>
            </ul>
          </div>
        </div>

        <div class="follow_us mr-20">
          <span>{{ 'topheader.follow' | translate }}</span>
          <div class="socials">
            <a href="" class="social__item">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a href="" class="social__item">
              <i class="fa fa-linkedin-square"></i>
            </a>
          </div>
        </div>
        <a href="#" class="top-bar-close" id="top-bar-close-js">
          <svg class="hurra-icon hurra-icon-cancel-1"><use xlink:href="#hurra-icon-cancel-1"></use></svg>
        </a>
      </div>
    </div>

  <div class="container">

    <a href="#" id="top-bar-js" class="top-bar-link"><svg class="hurra-icon hurra-icon-arrow-top"><use xlink:href="#hurra-icon-arrow-top"></use></svg></a>
      <div class="header-content-wrapper">
        <div class="site-logo">
          <a routerLink="/index" class="full-block"></a>
          <img src="assets/img/logo.png" alt="Hurra Credit">
        </div>

        <nav id="primary-menu" class="primary-menu">
          <!-- menu-icon-wrapper -->
          <a href='javascript:void(0)' id="menu-icon-trigger" class="menu-icon-trigger showhide">
            <span class="mob-menu--title">Menu</span>
            <span id="menu-icon-wrapper" class="menu-icon-wrapper">
              <svg width="1000px" height="1000px">
                <path id="pathD" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                <path id="pathE" d="M 300 500 L 700 500"></path>
                <path id="pathF" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
              </svg>
            </span>
          </a>

          <ul class="primary-menu-menu">
            <li class="menu-item-has-children">
              <a routerLink="/login">{{ 'nav.logout' | translate }}</a>
            </li>
            <li class="lang-mobile-menu">
                <a href="javascript:void(0);">{{ 'topheader.selectedlang' | translate }}</a>
                <ul class="sub-menu">
                  <li>
                    <a href="javascript:void(0);" (click)="translate.use('es')">
                      <img src="assets/img/mexico.svg" alt="Esp">&nbsp;<span>{{ 'topheader.esEs' | translate }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" (click)="translate.use('en')">
                      <img src="assets/img/united-states.svg" alt="Eng">&nbsp;<span>{{ 'topheader.enEn' | translate }}</span>
                    </a>
                  </li>
                </ul>
              </li>

          </ul>

        </nav>

      </div>

    </div>

</header>

<div class="header-spacer"></div>
<!-- ... End Header -->