.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  
    //set dimensions for invisible container
    .input-container {
      position: relative;
      height: 3.5rem;
      width: 3.5rem;
      margin: 0.2rem;
  
      //make actual radio input invisible
      // + stretch to fill container
      .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
      }
  
      //default tile styles
      .radio-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid orange;
        border-radius: 5px;
        padding: 1rem;
        transition: transform 300ms ease;
      }
      .icon svg {
        fill: orange;
        width: 1.8rem;
        height: 1.8rem;
      }
      .radio-tile-label {
        text-align: center;
        font-size: 0.55rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: orange;
      }
  
      //active tile styles
      .radio-button:checked + .radio-tile {
        background-color: orange;
        border: 2px solid orange;
        color: white;
        transform: scale(1.1, 1.1);
        
        .icon svg {
          fill: white;
          background-color: orange;
        }
        .radio-tile-label {
          color: #232323;
          background-color: orange;
        }
      }
    }
  }

  $checked-color: #34b93d;
  $unchecked-color: #000;
  $checkbox-height: 100px;
  $background-color:#667788;
  $font-color:#efefef;
  $duration: .4s;
  /* Checkmark style starts */
  
  @-moz-keyframes dothabottomcheck{
      0% { height: 0; }
      100% { height: $checkbox-height/2; }
  }
  
  @-webkit-keyframes dothabottomcheck{
      0% { height: 0; }
      100% { height: $checkbox-height/2; }
  }
  
  @keyframes dothabottomcheck{
      0% { height: 0; }
      100% { height: $checkbox-height/2;  }
  }
  
  @keyframes dothatopcheck{
      0% { height: 0; }
      50% { height: 0; }
      100% { height: $checkbox-height * 1.2; }
  }
  @-webkit-keyframes dothatopcheck{
      0% { height: 0; }
      50% { height: 0; }
      100% { height: $checkbox-height * 1.2; }
  }
  @-moz-keyframes dothatopcheck{
      0% { height: 0; }
      50% { height: 0; }
      100% { height: $checkbox-height * 1.2; }
  }
  input[type=checkbox]{
    display:none;
}

.hurra-checkbox {
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: solid 2px $unchecked-color;
    border-radius: 4px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease $duration/2;
    -o-transition: border-color ease $duration/2;
    -webkit-transition: border-color ease $duration/2;
    transition: border-color ease $duration/2;
    cursor:pointer;
    top: 15px;

    &::before, &::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        height: 0;
        width: 6px;
        background-color: $checked-color;
        display: inline-block;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        border-radius: 5px;
        content: ' ';
        -webkit-transition: opacity ease .5;
        -moz-transition: opacity ease .5;
        transition: opacity ease .5;
    }

    &::before {
        top:28px;
        left: 18px;
        // box-shadow: 0 0 0 $checkbox-height * .05 $background-color;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }

    &::after {
        top: 15px;
        left: 5px;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

input[type=checkbox]:checked + .hurra-checkbox,
.hurra-checkbox.checked{
    border-color:$checked-color;
    
    &::after{
        height: 15px;
        max-height: 15px;
        -moz-animation: dothabottomcheck $duration/2 ease 0s forwards;
        -o-animation: dothabottomcheck $duration/2 ease 0s forwards;
        -webkit-animation: dothabottomcheck $duration/2 ease 0s forwards;
        animation: dothabottomcheck $duration/2 ease 0s forwards;
    }
     
    &::before{
        height: 10px;
        max-height: 40px;
        -moz-animation: dothatopcheck $duration ease 0s forwards;
        -o-animation: dothatopcheck $duration ease 0s forwards;
        -webkit-animation: dothatopcheck $duration ease 0s forwards;
        animation: dothatopcheck $duration ease 0s forwards;
    }
}

.legales-check{
  width: 100%;
  margin: 0px;
  padding: 0px;

  li {
    display: inline;
    padding: 2px 5px 2px 0px;
  }
}

#register-block {
  display: none;
  // position: absolute;
  // top: -0%;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#login-block {
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
